.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-container {
    background: white;
    padding: 20px 25px;
    width: 450px;
    border-radius: 8px;
    position: relative;
    animation: popupAppear 0.25s ease;   
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

.popup-img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.repo-link {
    display: inline-block;
    margin-top: 15px;
    color: #007BFF;
    font-weight: bold;
}

@keyframes popupAppear {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}